@{
    ViewBag.Title = "Success!";
}

<div class="storemanagerWrapper">
                          <div class="storemanagerHeader">
                              <h2>Contact</h2> </div>

    <p>Your enquiry has been submitted, our team will work to reply as soon as possible!</p>



    </div>