@{
    ViewBag.Title = "SoldOut.cshtml";
}

<h2>SoldOut.cshtml</h2>

Sorry these tickets are all sold out! Please try again at a later stage!

    <p class="button">
       <a> Click here to view more events!
        @Html.ActionLink("Index", "Index", "Store") </a>
    </p>
