@model int

@{
    ViewBag.Title = "Checkout Complete";
}
<div class="checkoutWrapper">
    <div class="completeHeader">
        <h2>Checkout Complete!</h2>
    </div>
    <div class="completeINFO">
        <p>Thank you for placing an order for the Big Event 2015! Your order number is: <b>@Model</b></p>
        <p>
            Click on the button to continue browsing the ticket store!
           
            <a href="@Url.Action("Index", "Store")">Tickets</a>
        </p>
    </div>
</div>
