@{
    ViewBag.Title = "Athletes";
}

<div class="athletesContent">
    <div class="athletesBar">
        Top Athletes
    </div>
    <div class="athleteContainer">
        <div class="athlete1">
            <div class="athlete1IMG">
                <img src="../../Content/themes/base/images/usainbolt.jpg">
            </div>
            <div class="athlete1INFO">
                <div class="athletesTitle">Usain Bolt</div>
                <div class="athleteInfo">
                    Usain St. Leo Bolt is a Jamaican sprinter widely regarded as the fastest person ever. He is the first man to hold both the 100 metres and 200 metres world records since fully automatic time measurements became mandatory in 1977
                </div>
            </div>
        </div>
        <div class="athlete2">
            <div class="athlete2IMG">
                <img src="../../Content/themes/base/images/roger.jpg">
            </div>
            <div class="athlete2INFO">
                <div class="athletesRTitle">Roger Federer</div>
                <div class="athleteInfo">
                    Roger Federer is a Swiss professional tennis player who is currently ranked world no. 4. He has been ranked inside the top 10 continuously since May 2002. Numerous commentators, pundits, and former and current players of the sport regard Federer as the greatest tennis player of all time.
                </div>
            </div>
        </div>
        <div class="athlete3">
            <div class="athlete3IMG">
                <img src="../../Content/themes/base/images/messi.jpg">
            </div>
            <div class="athlete3INFO">
                <div class="athletesTitle">Lionel Messi</div>
                <div class="athleteInfo">
                    Lionel Andrés Messi is an Argentine footballer who plays as a forward for Spanish club FC Barcelona and the Argentina national team. He serves as the captain of his country's national football team.
                </div>
            </div>
        </div>
    </div>
</div>